<h1>Card Guesser: Guess the proper card value out of a 52-card sized deck three times, and you win!</h1>

<p id="Question">What do you think the color of the next card will be: Black, or Red? Enter in your color of choice below!</p>
<input type ="text" id="response">
<!-- <input type="radio" id="option 1" name="color" value="black">
<label for="black">Black</label><br>
<input type="radio" id="option 2" name="color" value="red">
<label for="red">Red</label><br>
-->

<button type="button" id="submit_button" (click)="pullCard()">Submit response</button>


<router-outlet></router-outlet>
